///Scope Chain

@import "type-check";
@import "type-conversion";
@import "stringify";
@import "new-list";
@import "new-map";
@import "base-fn";

$global-width:640px !default;
$global-font:32px !default;
$global:(
        width:$global-width,
        font-size:$global-font,
) !default;

$layout-mixin-list: 'relative' 'relative-layout' 'relative-content-box' 'relative-box' 'shape-box';

@function create-scopes-if-not-exists(){
  @if not global-variable-exists(scope-chain){
    $scope-chain:(global:$global) !global;
  }
  @return true;
}

@function get-ancestor($selector){
  $check: check-local-scope() create-scopes-if-not-exists();
  $ancestors: if(is-list($selector),nth($selector,1),$selector);
  $r:true;
  @while length($ancestors)>1{
    $ancestors:list-slice($ancestors,1,-1);
    @each $item in $selector{
      @if not str-index(list-to-string($item),list-to-string($ancestors)){
        $r:false;
      }
    }
    @if $r{
      $ancestor:map-get($scope-chain,list-to-string($ancestors));
      @if $ancestor{
        @return $ancestor;
      }
    }
  }
  @return map-get($scope-chain,global);
}

@function relative($self-layout){
  $check: check-map($self-layout) check-local-scope();
}

@mixin layout($layout-mixin,$self-layout){
  $check: check-string($layout-mixin) check-map($self-layout) check-local-scope();

  @if index($layout-mixin-list,$layout-mixin){

    //invoke layout-mixin accordingly
    @each $selector in &{
      $ancestor:get-ancestor($selector);
      @warn '$ancestor: #{to-string($ancestor)}';

      $self-layout:map-merge($self-layout,$ancestor);

      @if $layout-mixin=='relative-layout'{
        @include relative-layout($self-layout,$ancestor);
      }
      @else if $layout-mixin=='relative-box'{
        @include relative-box($self-layout,$ancestor);
      }
      @else if $layout-mixin=='relative-content-box'{
        @include relative-content-box($self-layout,$ancestor);
      }
      @else if $layout-mixin=='shape-box'{
        @include shape-box($self-layout,$ancestor);
      }

      //filter $self-layout into a new map $self with keys:(width,font)
      $self:map-select-pairs-with-unit($self-layout,$ancestor,'px',$ancestor);
      @warn '#{to-string($scope-chain)}';

      //if the current scope has not been included in the $scope-chain, then add it to. else if the current scope already
      //exists in the $scope-chain, then override it.
      $scope-chain:map-merge($scope-chain,(list-to-string($selector):$self)) !global;
      @warn '#{to-string($scope-chain)}';
    }

  }
}